@model Company

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white">Delete Company</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post">
			<input asp-for="Id" hidden/>
		<div class="border p-3">
			<partial name="_CompanyFormPartial" model="Model"/>
			<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
			<a asp-controller="Company" asp-action="Index" class="btn btn-outline-primary border form-control" style="width:150px">Back to List</a>
		</div>
		</form>
	</div>
</div>


@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}