<div class="text-center">
    <h1 class="display-4">Вас успішно зареєстровано!</h1>
    <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary border form-control" style="width:150px">Увійти</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary border form-control" style="width:150px">На головну</a>

</div>
